dciclient
flask
kombu
lxml
requests
pandas
gunicorn
psycopg2==2.7.5;python_version<="3.6"
psycopg2-binary;python_version>"3.6"
SQLAlchemy
SQLAlchemy-Utils
urllib3
git+http://softwarefactory-project.io/r/dci-control-server
