[Unit]
Description=DCI-Analytics synchronization service
After=network.target

[Service]
Type=oneshot
User=dci
Group=dci
ExecStart=/bin/bash -c '/usr/bin/curl -XPOST http://127.0.0.1:2345/task_duration_cumulated/sync; /usr/bin/curl -XPOST http://127.0.0.1:2345//task_components_coverage/sync'

